##############################################
# PRINTER TOOL HEAD CONFIGURATION FILE
# Contains all the sensors and settings for the tool head
# Does not contain the settings for the Cartographer Probe
##############################################

[mcu EBB]
canbus_uuid=401f603a912a

# [temperature_sensor EBB36]
# sensor_type: MAX31865
# sensor_pin: EBB:PA0
# pullup_resistor: 2200

[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

##############################################
# EXTRUDER
##############################################
[extruder]
step_pin: EBB:PB14
dir_pin: EBB:PA8
enable_pin: !EBB:PB6
microsteps: 16
gear_ratio: 9:1                    # Gear ratio
rotation_distance: 48.088
full_steps_per_rotation: 200
filament_diameter: 1.750
nozzle_diameter: 0.400
heater_pin: EBB:PB4
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: EBB:PA3
control: pid
pid_Kp: 31.462
pid_Ki: 2.689
pid_Kd: 92.032
min_temp: 0
max_temp: 250
max_extrude_only_distance: 150

[tmc2209 extruder]
uart_pin: EBB:PB3
run_current: 0.650
stealthchop_threshold: 999999

##############################################
# FILAMENT DETECTION SENSORS
##############################################
[filament_switch_sensor fil_det]
pause_on_runout: False
runout_gcode: PAUSE
insert_gcode: RESUME
switch_pin: !EBB:PD0

# [filament_switch_sensor HotendSensor]
# switch_pin: EBBCan:gpio6

##############################################
# PART COOLING FANS
##############################################
[multi_pin part_cooling]
pins: EBB:PD3, EBB:PA5

[fan]
pin: multi_pin:part_cooling

##############################################
# HOT END FAN
##############################################
[heater_fan 3w_fan2]
pin: EBB:PD2
tachometer_pin: EBB:PA4

##############################################
# NEOPIXEL LEDS
##############################################
[neopixel sb_leds]
pin: EBB:PC7
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#