# Toolhead Configuration File

[mcu EBBCan]
canbus_uuid: abb8a6e2e2ab

[temperature_sensor SB-MCU]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

[temperature_fan chamber]
pin: PD13
max_power: 1.0
max_speed: 1.0
shutdown_speed: 0.9
kick_start_time: 5.0
cycle_time: 0.01
off_below: 0.05
sensor_type: MAX31865                # Temperature sensor type
sensor_pin: EBBCan:gpio9             # Sensor pin
spi_software_sclk_pin: EBBCan:gpio10 # SPI clock pin
spi_software_mosi_pin: EBBCan:gpio8  # SPI master out slave in pin
spi_software_miso_pin: EBBCan:gpio11 # SPI master in slave out pin
rtd_nominal_r: 100                   # RTD nominal resistance
rtd_reference_r: 430                 # RTD reference resistance
rtd_num_of_wires: 2                  # Number of wires for the RTD
min_temp: 0
max_temp: 70
target_temp: 35.0
control: watermark
gcode_id: C

# Accelerometer Configuration - Commented out due to using one of the Cartographer Probe Instead
#  [adxl345]
#  cs_pin: EBBCan:gpio1
#  spi_software_sclk_pin: EBBCan:gpio2
#  spi_software_mosi_pin: EBBCan:gpio0
#  spi_software_miso_pin: EBBCan:gpio3
#  axes_map: z,-y,x

#  [resonance_tester]
#  probe_points: 150, 150, 20
#  accel_chip: adxl345

[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
gear_ratio: 9:1                    # Gear ratio
rotation_distance: 48.088
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan:gpio27
control: pid
pid_Kp: 36.291
pid_Ki: 4.320
pid_Kd: 76.214
min_temp: 0
max_temp: 300
max_extrude_only_distance: 120

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.6

[fan]
pin: EBBCan:gpio13

[heater_fan heatbreak_cooling_fan]
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0

[neopixel sb_leds]
pin: EBBCan:gpio16
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#